
Song of the Spear/Temp/UnityLockfile
/Song of the Spear/.vs/Song of the Spear/v16/Server/sqlite3/db.lock
/Song of the Spear/.vs/Song of the Spear/v16/Server/sqlite3/storage.ide
/Song of the Spear/.vs/Song of the Spear/v16/Server/sqlite3/storage.ide-shm
/Song of the Spear/.vs/Song of the Spear/v16/Server/sqlite3/storage.ide-wal
/Song of the Spear/.vs/Song of the Spear/v16/.suo
