
Song of the Spear/Temp/UnityLockfile
/.vs/slnx.sqlite
Song of the Spear\obj\Debug\Assembly-CSharp.csprojAssemblyReference.cache	Edit
Song of the Spear/Assembly-CSharp.csproj
Song of the Spear/Library/ScriptAssemblies/Assembly-CSharp.dll
Song of the Spear/Library/ScriptAssemblies/Assembly-CSharp.pdb
Song of the Spear/Library/StateCache/Hierarchy/d9cc09-mainStage.json
Song of the Spear/Library/StateCache/SceneView/e75904-mainStage.json
Song of the Spear/Library/assetDatabase3
Song of the Spear/Library/shadercompiler-UnityShaderCompiler.exe0.log
Song of the Spear/Temp/__Backupscenes/0.backup